/*------------------------------------
全体
------------------------------------*/
body{
    margin: 0px;
    font-family: 游ゴシック;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.narrow{
    width:90%;
}

.section-title{
    color: #0021CB;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #0021CB;
    width: 100%;
}

.SP-ver{
    display: none;
}

.plan-content.SP-ver{
    display: none;
}

/*------------------------------------
main-visual
------------------------------------*/
.mainvisual{
    background-image: url(./img/mainvisual.png);
    background-size: cover;
    height: 50vw;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    width: 100%;
}

.mainvisual-content{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    padding: 20px 0px 0px 50px;
}

.mainvisual-title{
    margin-bottom: 20px;
}

.mainvisual-text{
    width:70%;
    text-align: left;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.mainvisual-topics-slide{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}



.mainvisual-topics{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width:60%;
}

.mainvisual-topic{
    display: flex;
    align-items: center;
    margin: 15px 0px;
    font-size: 1.6rem;
}

.mainvisual-topic-icon{
    display: flex;
    justify-content: center;
    border-radius:50%;
    width:10%;
    height:5vw;
}

.mainvisual-topic-icon img{
    border-radius:50%;
}

.mainvisual-slide{
    width: 40%;
    margin: 15px;
    position: relative;
}

.mainvisual-slide img{
    width: 60%;
    display: block;
}

.mainvisual-slide1{
    position: absolute;
    top:0;
    left: 0;
}

.mainvisual-slide2{
    position: absolute;
    top: 80px;
    left: 150px;
}

.button-contact{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    background-color: #FFC000;
    width:30%;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 5px 20px;
    margin-bottom: 40px;
}

.button-contact:hover{
    background-color: white;
    color: #FFC000;
}

/*------------------------------------
okomari
------------------------------------*/
.okomari-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}


.okomari-points{
    display: flex;
    justify-content: space-between;
    width:100%;
    background-size: cover;
    height: 30vw;
    margin-bottom: 50px;
}

.okomari-points.nayami{
    background-image: url(./img/okomari-back.png);
}

.okomari-point{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:33%;
}

.okomari-point-text{
    color: #0021CB;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

.solution-title{
    color: #E4A400;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 30px;
}

.okomari-points.kaiketsu{
    background-image: url(./img/solution-back.png);
}

.solution-point-text{
    color: #028810;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

/*------------------------------------
contact
------------------------------------*/
.contact{
    background-image: url("./img/mainvisual.png");
    background-size:cover;
    width: 100%;
    height: 30vw;
    padding-top:70px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-bottom: 80px;
}

.contact-title{
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
}

.contact-mail{
    display: flex;
    justify-content: space-between;
    width:30%;
    align-items: center;
}
.contact-mail-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-mail img{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 5vw;
    margin-right: 50px;
}

.contact-mail-text{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    
}
.contact-mail-address{
    margin-bottom: 0px;
}

.contact-mail-details{
    font-size: 1rem;
    margin-top: 5px;
}

/*------------------------------------
kouka
------------------------------------*/
.kouka{
    margin-bottom: 70px;
}

.section-outline{
    font-size: 1.7rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

.kouka img{
    width: 85%;
    display: block;
    margin: auto;
}

/*------------------------------------
janru
------------------------------------*/
.janru{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.janru img{
    width: 85%;
    display: block;
    margin: auto;
}

.janru-content{
    background-color: #F2F2F2;
    width:90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 30vw;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
}

.janru-section{
    border-radius: 30px;
    color:white;
    font-weight: bold;
    background-color: #004BA8;
    width: 22%;
    text-align: center;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
}

/*------------------------------------
slides
------------------------------------*/
.slides{
    margin-top: 70px;
}

.slides img{
    width: 85%;
    display: block;
    margin: auto;
    margin-top: 30px;
}

/*------------------------------------
reason
------------------------------------*/
.reason{
    margin-top: 70px;
}

.okomari-points.reason{
    background-image: url("./img/reason.png");
}

/*------------------------------------
plan
------------------------------------*/
.plan{
    margin-top: 70px;
}

.plan img{
    width: 85%;
    display: block;
    margin: auto;
}

.plan-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 90vw;
    margin-top: 100px;
    font-size: 1.3rem;
    margin: auto;
}

.plan-box-titles{
    width:10%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-right: 30px;
}


.plan-box{
    width:27%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-right: 20px;
}

.plan-box-title{
    color: white;
    background-color:grey;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
}

.space{
    height: 15vw;
}

.gaiyou{
    height: 15vw;
}
.koumoku{
    height: 20vw;
}
.limit{
    height: 8vw;
}

.schedule{
    height: 8vw;
}

.plan-box-content{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    padding: 20px;
}

.plan-box-title.space{
    background-color: white;
}

.plan-box-content.plan-box-top.space{
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}

.plan-name{
    background-color: black;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.plan-accent{
    font-size: 2.2rem;
    font-weight: bold;
}

.plan-box-content.koumoku{
    justify-content:center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}

.plan-box-accent{
    opacity: 0.4;
}

/*------------------------------------
nagare
------------------------------------*/
.nagare{
    margin-top: 70px;
}

.nagare-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
}

.nagare-box{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    height: 10vw;
}

.nagare-title{
    width: 20%;
    background-color: #004BA8;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nagare-details{
    width: 80%;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #F2F2F2;
    align-items: center;
    display: flex;
}

/*------------------------------------
question
------------------------------------*/
.question{
    margin-bottom: 70px;
}
.question-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

.question-box{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}

.question-box.answer{
    background-color: white;
}

.question-title{
    width: 10%;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    align-items: center;
    display: flex;
    color: #0021CB;
}

.question-title.answer{
    color:red;
}

.question-details{
    width: 70%;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    display: flex;
}

/*------------------------------------
footer
------------------------------------*/
footer{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 100%;
    background-color: #F2F2F2;
    padding: 40px 0px;
    align-items: center;
}

/*------------------------------------
iphone
------------------------------------*/
@media screen and (max-width:1200px) {

.PC-ver{
    display:none;
}

.SP-ver{
    display: block;
}

.mainvisual{
    height: 70vw;
}

.mainvisual-title{
    font-size: 3rem;
}

.mainvisual-text{
    width: 90%;
    font-size: 2.3rem;
}

.mainvisual-slide{
    display: none;
}

.mainvisual-topics{
    width:100%;
}

.mainvisual-topic-text{
    font-size: 2rem;
}

.button-contact{
    font-size: 2rem;
    width:50%;
}

.okomari-point-text{
    font-size:1.5rem;
}

.solution-point-text{
    font-size:1.5rem; 
}

.contact{
    height: 40vw;
}

.contact-title{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.contact-mail{
    width: 70%;
    justify-content: center;
}

.contact-mail-text{
    font-size: 2.5rem;
}

.contact-mail-details{
    font-size: 1.3rem;
}

.section-title{
    font-size: 1.7rem;
}

.section-title.okomari{ 
    font-size: 2.5rem;
}


.section-outline{
    font-size: 1.2rem;
}

.kouka img {
    width:100%;
}

.section-title.janru{
    font-size: 2.5rem;
}

.janru-content{
    height: 65vw;
}

.janru-section{
    width: 45%;
    font-size: 1.9rem;
}

.section-outline.janru{
    font-size: 2.5rem;
}

.slides img{
    width:100%;
}


.plan-content.SP-ver{
    display: flex;
    height: 400vw;
    width: 100%;
    flex-direction: column;
}

.plan-box-title-SP{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}


.plan-box-titles{
    width:25%;
    margin-right: 5px;
}

.plan-box-title{
    font-size: 2.2rem;
}

.plan-box{
    width: 75%;
    margin: 0px;
}

.plan-name{
    font-size: 2.5rem;
}

.plan-box-content{
    font-size: 2.2rem;
}

.space{
    height: 25vw;
}
.gaiyou{
    height: 25vw;
}

.plan-note{
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.nagare-box{
    height: 30vw;
}

.nagare-title{
    font-size: 1.8rem;
}

.nagare-details{
    font-size: 1.8rem;
}

.question-content{
    width:100%;
}

.question-box{
    padding: 20px;
}

.question-title{
    font-size: 3rem;
}

.question-details{
    font-size: 2.2rem;
}


}

/*------------------------------------
ipad
------------------------------------*/
@media screen and (max-width: 700px) {
.mainvisual{
    height: 55vw;
}

.button-contact{
    font-size: 1.5rem;
}

.mainvisual-text{
    width: 70%;
}
}

